.mt-4 {
  margin-top: 1rem
}

.mt-6 {
  margin-top: 1.5rem
}

.mt-2 {
  margin-top: 0.5rem
}

.flex {
  display: flex
}

.h-12 {
  height: 3rem
}

.h-10 {
  height: 2.5rem
}

.h-40 {
  height: 10rem
}

.h-60 {
  height: 15rem
}

.w-full {
  width: 100%
}

.w-40 {
  width: 10rem
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded-lg {
  border-radius: 0.5rem
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(0 102 255 / var(--tw-bg-opacity))
}

.bg-gray-5 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 243 248 / var(--tw-bg-opacity))
}

.bg-gray-10 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 229 235 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-2 {
  padding: 0.5rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.text-center {
  text-align: center
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}